.header {
	padding: 15px;
	text-align: center;
	background: white;
	color: white;
	font-size: 30px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color:#DEF2F1;
}

li {
	float: right;
}

li a {
	display:inline-block; 
	color: #06159B;
	text-align: center;
	padding: 20px 16px;
	text-decoration: none;
	font-size: 25px;
}

a:hover:not(.active) {
	background-color: #ECFDFF;
}
		
img{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 280px;
	width: 300px;	
	position: relative;
	margin-top: 9%;
	margin-left: 35%;
}

.center {
   display: block;
   margin-left: auto%;
   margin-right: auto;
   margin-top: 1%;
   width: 30%;
}

.center1{
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: -5%;
   width: 40%;
}

.center3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.center4 {
  display: block;
  margin-left: 25%;
  margin-right: auto;
  width: 50%;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {background-color: #DEF2F1;}
}

.main {
  margin-left: 250px; 
  padding: 0px 10px;
  margin-top: 10px;
}

.main2 {
 
  padding: 0px 10px;
  margin-top: 10px;
  text-align: justify;
  text-justify: inter-word;
}

