.main {
  margin-left: 520px; 
  padding: 0px 10px;
  margin-top: 100px;
}



.header {
	padding: 15px;
	text-align: center;
	background: white;
	color: white;
	font-size: 30px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color:#DEF2F1;
}

li {
	float: right;
}

li a {
	display:inline-block; 
	color: blue;
	text-align: center;
	padding: 20px 16px;
	text-decoration: none;
	font-size: 25px;
}

a:hover:not(.active) {
	background-color: #ECFDFF;
}

.center {
   display: block;
   margin-left: -10px;
   margin-right: auto;
   margin-top: 1%;
   width: 40%;
}
